*.pyc
.vscode
data/
slurm/
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
datasets
tensorboard_3d
screenshots
.idea
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
pretrained_weights
*.pth
*.pt
*.pth.tar
*.pt.tar
*.pth.tar.gz
*.pt.tar.gz
*.npy
*.npz
*.npz.gz
*.npz.tar
*.npz.tar.gz
*.npz.tar.gz.tar
*.npz.tar.gz.tar.gz
*.npz.tar.gz.tar.gz.tar
*.zip
4dgs_ckpts/

wandb/
*.mp4
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.log

ext_exps
result*
sudo_gt/
log*
*output*